@import 'vars';
@import 'reset';
@import 'global';



.header {
  margin-top: 48px;
  min-height: 48px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 78px;
    height: 48px;
  }

  &__logo-img {
    width: 100%;
    object-fit: cover;
  }

  &__modal-btn {
    @extend %font16;
    font-weight: 600;
    padding: 12px;
    border: 2px solid $light-orange;
    border-radius: 60px;
    background-color: transparent;
    color: #fff;

    &:hover {
      background: $orange;
      ;
      border: 2px solid $orange;
      ;
    }

    &:active {
      background: $light-orange;
      border: 2px solid $light-orange;
    }

    &:disabled {
      color: $gray;
      border: 2px solid $gray;
      background: transparent;
      pointer-events: none;
    }
  }
}


.production {

  &__box {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__box-img {
    margin-left: 50px;
    width: 366px;
    height: 320px;

  }

  &__title {
    max-width: 470px;
    @include adaptive_font-h1;

  }

  &__subtitle {
    @extend %font24;
    color: $pirple;
    margin-top: 24px;
  }
}

.wallet {
  &__coins-line {
    position: relative;
    margin-bottom: 24px;
    height: 20px;
  }

  &__coin {
    background-image: url('../images/coin.png');
    width: 16px;
    height: 20px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    z-index: 100;
  }

  &__coins-info {
    @extend %font24;
    margin-bottom: 44px;
    color: $pirple;
  }

  &__coins-number {
    font-weight: 700;
  }

  &__coins-biorobo {
    display: inline-block;
    font-weight: 500;
  }

  &__coins-currency {
    font-weight: 500;
  }

  &__coins-form {
    font-weight: 500;
  }

  &__coins-btn {
    padding: 0;
    background: transparent;
    border: none;
    color: $light-orange;
    @extend %font16;
    position: relative;
    border-bottom: 1px solid rgba($light-orange, 0.5);
  }

  &__coins-label {
    @extend %font16;
    margin-left: 50px;
  }

  &__coins-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 24px;

    &:checked+.wallet__coins-check-style {
      &:before {
        content: '';
        background-image: url('../images/icons/ok.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 12px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover+.wallet__coins-check-style {
      border: 2px solid $gray;
    }

    &:disabled+.wallet__coins-check-style {
      border: 2px solid #333940;
    }
  }

  &__coins-check-style {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid $pirple;
    margin-left: -36px;
    cursor: pointer;

  }
}

.instock {
  .parts-section__item-btn {
    color: #fff;
    background: linear-gradient(180deg, $light-orange 0%, $orange 100%);
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.16));

    &:hover {
      background: $orange;
      ;
    }

    &:active {
      background: $light-orange;
    }

    &:disabled {
      background: $gray;
      color: #7D90A6;
      pointer-events: none;
    }
  }
}

.parts-section__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parts-section__item {
  margin: 0 30px;
  text-align: center;
}

.parts-section__item-img {
  display: inline-block;
  width: 236px;
  height: 128px;
  margin-bottom: 45px;

  img {
    width: 236px;
  }
}



.parts-section__item-price {
  @extend %font16;
  margin: 5px 0 34px;
  font-weight: 500;
  color: $pirple;
}

.storage {

  .parts-section__item-price {
    margin-bottom: 15px;
  }

  .amount {
    margin-bottom: 24px;
  }

  .parts-section__item-btn {
    color: $blue;
    background-color: transparent;
    border: 2px solid $blue;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

    &:hover {
      background: $blue;
      color: #212529;
      filter: drop-shadow(0px 10px 40px #1E5466);
    }

    &:active {
      color: $blue;
      background-color: transparent;
      border-color: #22B3E3;
    }

    &:disabled {
      border: 2px solid $gray;
      color: $gray;
      background-color: transparent;
      pointer-events: none;
    }
  }
}

.create {
  .create-grid__box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    height: 100%;
  }

  .create__form {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }

  fieldset+fieldset {
    margin-top: 32px;
  }

  .form-create__legend {
    @extend %font14;
    font-weight: 500;
  }

  .form-create__box {
    margin-top: 20px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;

  }

  .form-create__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 24px;

    &:checked+.form-create__radio-style {
      &:before {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $light-orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .form-create__radio-style {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid $pirple;
    border-radius: 50%;
    margin-left: -36px;
    cursor: pointer;
  }

  .form-create__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    margin: 0 54px 0 30px;
  }

  &__parts-box {
    margin-left: 27px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  .create-parts__image+.create-parts__image {
    margin-left: 10px;
  }

  .create-parts__line {
    display: flex;
    align-items: center;
  }

  .create-parts__line+.create-parts__line {
    margin-top: 16px;
  }


  .create-parts__image {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }

  .biomech {
    background: url('../images/robotparts-sprites.png') -10px -10px;

  }

  .biomech--active {
    background: url('../images/robotparts-sprites.png') -10px -146px;
  }

  .biomech--disable {
    background: url('../images/robotparts-sprites.png') -78px -10px;

  }

  .processor {
    background: url('../images/robotparts-sprites.png') -78px -78px;
  }

  .processor--active {
    background: url('../images/robotparts-sprites.png') -10px -78px;
  }

  .processor--disable {
    background: url('../images/robotparts-sprites.png') -146px -10px;
  }

  .soul {
    background: url('../images/robotparts-sprites.png') -146px -78px;
  }

  .robot__img-box {

    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
  }

  .robot__img {
    width: 236px;
    height: 320px;
    background-image: url('../images/robots-sprites.png');

    &.created-male1 {
      background-position: -522px -10px;
    }

    &.created-male2 {
      background-position: -10px -350px;
    }

    &.created-female1 {
      background-position: -10px -10px;
      ;
    }

    &.created-female2 {
      background-position: -266px -10px;
    }

    &.granted-male1 {
      background-position: -778px -10px;
    }

    &.granted-male2 {
      background-position: -778px -350px;
    }

    &.granted-female1 {
      background-position: -266px -350px;
    }

    &.granted-female2 {
      background-position: -522px -350px;
    }

    &.impossibly-male1 {
      background-position: -522px -690px;
    }

    &.impossibly-male2 {
      background-position: -778px -690px;
    }

    &.impossibly-female1 {
      background-position: -10px -690px;
    }

    &.impossibly-female2 {
      background-position: -266px -690px;
    }
  }



  .create-robot__btn-box {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }

  .create-robot__btn {
    @extend %font14;
    width: 236px;
    height: 48px;
    font-weight: 500;
    border: 2px solid $gray;
    background-color: transparent;
    border-radius: 60px;
    color: $gray;
  }

  .create-robot__text {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    @extend %font12;
    max-width: 200px;
    font-weight: 500;
    color: $pirple;
  }

}


@import 'media';